body {
  background-color: #ECEFF1;
  min-height: 100vh;
}

div.cartBox {
  -webkit-box-shadow: 0px 1px 7px 0px rgba(96,116,71,1);
  -moz-box-shadow: 0px 1px 7px 0px rgba(96,116,71,1);
  box-shadow: 0px 1px 7px 0px rgba(96,116,71,1);
}

div.cartProductsBox {
  padding-top: 1.1rem !important;
  margin-top: 2.8rem;
}

@media screen and (max-width: 768px) {
  div.cartProductsBox {
	padding-top: 1.1rem !important;
	margin-top: 8rem;
  }

  div.buyBox {
	display: none;
  }
}


@media screen and (max-width: 370px) {
  div.productContainer {
	width: 120% !important;
  }

  footer {
	width: 120% !important;
  }
}



.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

.applyCouponText {
  min-width: 80px;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

div.buyBox {
  -webkit-box-shadow: 0px -1px 12px -4px rgba(96,116,71,1);
  -moz-box-shadow: 0px -1px 12px -4px rgba(96,116,71,1);
  box-shadow: 0px -1px 12px -4px rgba(96,116,71,1);
}

div.buyBox > div > a {
  margin-left: 0.45rem !important;
}

a.checkoutButton {
  background-color: #F4511E;
  border: 1px solid #F4511E;
  transition: 0.3s ease;
}

a.checkoutButton:hover {
  background-color: #D84315;
  border: 1px solid #D84315;
}