body {
    background-color: #ECEFF1;
}

div.mainBodyContainer {
    margin-top: 1%;
}


/*MultiItemBar Contents*/
div.multiItemBarTitle {
    background-color: #fff;
    margin: inherit;
    margin-bottom: 0;
}

div.multiItemBarTitle .mTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

div.multiItemBarBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
}

.multiItemBarBody div.gallery:hover {
  border: 1px solid #777;
}

.responsive div.gallery img {
  width: 100%;
  height: auto;
}

.responsive div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 8px;
  float: left;
  width: 12.49999%;
}

@media only screen and (max-width: 1023.99px) {
  .responsive {
    width: 24.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*Featured Products*/
div.featuredProductsTitle {
    background-color: #fff;
    margin: inherit;
    margin-bottom: 0;
}

div.featuredProductsTitle .mTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

div.featuredProductsBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
}

.responsive2 {
  padding: 1% 4%;
  float: left;
  width: 25%;
}

/*Each Featured Product*/
.productContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 0.3px solid green;
}

.productContainer .image {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(1);
  -webkit-filter: blur(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s ease-in-out;
}

.productContainer .productBuyCart {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgb(0, 150, 0, 0.6); /*Change color here*/
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.2rem;
  padding: 7.1%;
  text-align: center;
  object-fit: cover;
}

.productContainer .productPriceDisc {
	font-size: 1.20rem;
    font-weight: 400;
    padding: 5.5%;
    transition: .5s ease;
    text-align: center;
}

.productContainer:hover .productBuyCart {
  opacity: 1;
}

.productContainer:hover .image {
    filter: none;
    -webkit-filter: blur(0);
    -webkit-transform: scale(1.01);
}

.productContainer:hover .productPriceDisc {
	opacity: 0;
}


@media only screen and (max-width: 768.9px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive2 {
    width: 100%;
  }
}