body {
    background-color: #ECEFF1;
}

div.mainBodyContainer {
    margin-top: 1%;
}

@media only screen and (max-width: 767.99px) {
    div.topContainer {
        margin-top: 6.85rem;
    }
}


/*MultiItemBar Contents*/
div.multiItemBarTitle {
    background-color: #fff;
    margin: inherit;
}

div.multiItemBarTitle .mTitle {
    font-size: 1.5rem;
    padding: 0.6%;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}

div.multiItemBarBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
}

.multiItemBarBody div.gallery {
    transition: 0.3s ease;
}

.multiItemBarBody div.gallery:hover {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(80,149,52,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(80,149,52,1);
    box-shadow: 0px 0px 3px 0px rgba(80,149,52,1);
}

.responsive div.gallery img {
  width: 100%;
  height: auto;
}

.responsive div.desc {
    padding: 2%;
    text-align: center;
    font-size: 0.95rem;
}

.responsive {
  padding: 0 8px;
  float: left;
  width: 12.49999%;
}

@media only screen and (max-width: 1023.99px) {
  .responsive {
    width: 24.99999%;
    margin: 6px 0;
  }
    
    .responsive div.desc {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*MuskGreen Delivery, Service*/

div.muskGreenServiceBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: auto;
}

.responsiveS {
  padding: 1% 4%;
  float: left;
  width: 33.333333%;
    text-align: center;
}

/*Each MuskGreen Status*/
.serviceContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
    display: inline-block;
    text-align: center;
}

.serviceContainer .image {
  display: inline-block;
  width: 36%;
  height: auto;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.serviceContainer:hover .image {
    background-color: #509534 !important;
    opacity: 1;
}

.serviceContainer .serviceTitle {
    color: #515151;
    font-size: 0.75rem;
    font-weight: 650;
}

.serviceContainer .serviceDesc {
    color: #9f9f9f;
    font-size: 0.60rem;
    font-weight: 600;
}

@media only screen and (max-width: 374.9999px) {
  .responsiveS {
    width: 100%;
  }
}


/*Featured Products*/
div.featuredProductsTitle {
    background-color: #fff;
    margin: inherit;
}

div.featuredProductsTitle .mTitle {
    font-size: 1.5rem;
    padding: 0.6%;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}

div.featuredProductsBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
}

.responsive2 {
  padding: 1% 4%;
  float: left;
  width: 25%;
}

/*Each Featured Product*/
.productContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.productContainer .image {
  display: block;
  width: 100%;
  height: auto;
    border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
}

.productContainer .productPriceDisc {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.25rem !important;
    line-height: 1.5rem;
    text-align: left;
}

.productContainer .productPriceDisc span.originalPrice {
    font-size: 0.8rem;
}

.productContainer .productPriceDisc span.originalPrice strike {
    color: #656565;
}

.productContainer .productPriceDisc span.discountPrice {
    color: #3CB371;
    font-size: 1.15rem;
}

.productContainer .productPriceDisc button {
    border: none;
    outline: 0;
    padding: 2%;
    color: white;
    background-color: #FF9F00;
    text-align: center;
    cursor: pointer;
    width: 45%;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.productContainer .productPriceDisc button:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 768.9px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive2 {
    width: 100%;
  }
}