body {
    background-color: #ECEFF1;
}

div.mainBodyContainer {
    margin-top: 1%;
}

@media only screen and (max-width: 767.99px) {
    div.topContainer {
        margin-top: 6.85rem;
    }
}



/*Featured Products*/
div.featuredProductsTitle {
    background-color: #fff;
    margin: inherit;
}

div.featuredProductsTitle .mTitle {
    font-size: 1.5rem;
    padding: 0.6%;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}

div.featuredProductsBody {
    background-color: #fff;
    margin: inherit;
    margin-top: 0;
    padding-bottom: 1%;
}

.responsive2 {
  padding: 1% 4%;
  float: left;
  width: 25%;
}

/*Each Featured Product*/
.productContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.productContainer .image {
  display: block;
  width: 100%;
  height: auto;
    border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.75);
}

.productContainer .productPriceDisc {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.25rem !important;
    line-height: 1.5rem;
    text-align: left;
}

.productContainer .productPriceDisc span.originalPrice {
    font-size: 0.8rem;
}

.productContainer .productPriceDisc span.originalPrice strike {
    color: #656565;
}

.productContainer .productPriceDisc span.discountPrice {
    color: #3CB371;
    font-size: 1.15rem;
}

.productContainer .productPriceDisc button {
    border: none;
    outline: 0;
    padding: 2%;
    color: white;
    background-color: #FF9F00;
    text-align: center;
    cursor: pointer;
    width: 45%;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.productContainer .productPriceDisc button:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 768.9px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive2 {
    width: 100%;
  }
}