@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', 'Nunito Sans', arial !important;
    color: #4d4d4d;
}

.fa { 
    font-family: 'FontAwesome' !important;
    color: aliceblue;
}


/*Top NavBar*/
nav {
    background-color: #ffffff;
}
nav.topBar {
    padding-top: 0;
    padding-bottom: 0;
    transition:500ms ease;
    text-align: center;
}

nav.topBar span.topNavItem {
    color: #4d4d4d;
    transition:500ms ease;
}

span.topNavItem {
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    padding: inherit;
}

/*Search Bar*/
.input-group.md-form.form-sm.form-2 {
    margin-left: 10%;
    margin-right: 10%;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}



/*On Scroll*/
.topBar.scrolled{
    background: #068B59;
    -webkit-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.75);
}

.topBar.scrolled span.topNavItem,
.topBar.scrolled span.topNavItem span{
    color: #fff;
}

/*Bottom Navigation Bar*/
nav.lowerNavBar {
    z-index: 800;
    padding: 0;
    -webkit-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.75);
    background-color: #068B59;
}

.navigationBar ul {
    margin: auto;
}

.nav-link {
    color: #FFF;
    font-weight: 600;
}

nav div.navigationBar ul li a:hover {
    transition: background-color, color 0.6s ease;
    background-color: #068B59;
    color: #FFF;
}

nav div.navigationBar ul li .dropdownMenu > a{
    color: #068B59;
}

nav div.navigationBar ul li .dropdownMenu > a:hover{
    color: #FFF;
}

/*Mobile Styling*/

@media (max-width: 767.9999px) {
    
/*    Navbar styling    */
    .navbar-collapse {
        position: absolute;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: inline;
        background-color: #ffffff;
    }
    
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    
    .navbar-collapse.show {
        right: 0;
    }
    
    .navbar {
        padding: 2%;
    }
    
    nav button.navbar-toggler {
        padding: 0;
        font-size: 0.8599rem;
    }
    
    nav div.mobileStyleSearchBox {
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    nav .navbrand {
        padding-left: 0;
        margin-left: 0;
    }
    
    nav .navbrand .img {
        margin: 0;
    }
    
    .navbar-brand {
        margin-right: 0;
        text-align: left;
        padding: 0;
    }
    
    nav .nav-item {
        margin: 0;
        padding: 3%;
    }
    
}